/* chalice.scss */

@import "chart";
@import "compass/css3/box-shadow";

$receive-color: #E33605;
$give-color: #5DA423;

$gravatar-size: 50px;

$weight-light: 300;
$weight-heavy: 600;

.receive {
    color: $receive-color;
}

.give {
    color: $give-color;
}

.top-bar .name {
    background: {
        image: url("../images/chalice.png");
        repeat: no-repeat;
        position: left center;
    }
    padding-left: 5px;
}

.dataLabel {
    width: 200px;
    display: inline-block;
}

.dataValue {
    display: inline-block;
    text-align: right;
    float: right;
}

.leaderboard {
    ul li {
        list-style: none;
        border-bottom: 1px solid #888;
    }

    div:first-child li:first-child {
        background: {
            image: url('../images/chalice.png');
            repeat: no-repeat;
            position: left center;
        }
        padding-left: 20px;
        font-weight: bold;
    }

    h3 {
        font-weight: $weight-light;
    }
}

.content {
    margin-top: 10px;
}

.profile {
    margin-bottom: 20px;

    .meta {
        text-align: center;

        .total {
            display: inline-block;
        }
    }

    .picture {
        width: $gravatar-size;
        height: $gravatar-size;
        border: 1px solid #888;
        vertical-align: text-bottom;
    }

    .name {
        font: {
            size: 3em;
            weight: $weight-light;
        }
        line-height: $gravatar-size;
        display: inline-block;
    }

    .winner {
        display: inline-block;
        font: {
            size: 1.1em;
            weight: $weight-heavy;
        }
        line-height: $gravatar-size;
        vertical-align: text-bottom;
    }
}

.events {
    .event {
        padding: 10px;
        margin: 20px inherit;

        text-align: center;
        border: 1px solid #888;

        @include single-box-shadow(#333, 5px, 5px, 10px);

        .amount {
            font-weight: $weight-heavy;
        }

        .message {
            font: {
                size: 1.2em;
                style: italic;
                weight: $weight-light;
            }
            padding-top: 10px;
            line-height: 1.3;
        }
    }
}

.add-points {
    select {
        height: 2em;
        border: 1px solid #cccccc;
    }

    button {
        width: 100%;
    }

    input[name="message"] {
        height: 3em;
    }
}

.styled-select {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0 0 1em 0;
    height: 42px;
    float: left;
    width: 100%;

    .base {
        width: 100%;
        float: left;

        .active {
            background-color: white;
            border: 1px solid #ccc;
            font-size: 0.875em;
            padding: 0.5em;
            background: {
                image: url("../images/selector.png");
                repeat: no-repeat;
                position: 98% center;
            }
        }

        .list {
            display: none;

            ul {
                margin: 0 0 1em 0;
                padding: 0;
                overflow: hidden;
                position: absolute;
                z-index: 10;

                @include box-shadow(0 -5px 0 #fff, 0 0 0 1px #ddd);
            }
        }
    }
}

.winners {
    .winner {
        padding: 10px;
        margin: 20px inherit;

        text-align: center;
        border: 1px solid #888;

        line-height: 1.3;

        @include single-box-shadow(#333, 5px, 5px, 10px);

        .date {
            font-style: italic;
            font-size: 1.2rem;
            padding-bottom: 10px;
        }

        .name {
            font-weight: $weight-heavy;
        }
        .amount {
            font-weight: $weight-heavy;
        }
    }
}

.pagetitle {
    &.centered {
        text-align: center;
    }
}
