<div class="row">
    <div class="small-12 small-centered columns" style="text-align: center;">
        <h2 style="margin-bottom: 0;">Chalice Points</h2>
        <div ng-switch on="mode" style="margin-bottom: 2em;">
            <div ng-switch-when="given"><h6>Scaled by <a href="#/chart/received">Given</a> Points<h6></div>
            <div ng-switch-default><h6>Scaled by <a href="#/chart/given">Received</a> Points</h6></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        <div id="chart" class="chord"></div>
    </div>
</div>
