<div class="row">
    <div class="add-points small-8 small-centered columns">
        <form name="addEventForm">
            <div class="row">
                <div class="small-12 columns">
                    <div class="alert-box {{message.level}}" style="display: none;">{{message.text}}</div>
                </div>
            </div>
            <div class="row">
                <div class="small-9 columns">
                    <select name="target" ng-model="pointsTarget" ng-options="u.name as u.name for u in users" required>
                        <option value="">-- To --</option>
                    </select>
                </div>
                <div class="small-3 columns">
                    <input type="number" name="amount" value="1" ng-model="pointsAmount" min="1" max="{{user.max_points}}" required>
                </div>
            </div>
            <div class="row">
                <div class="small-9 columns">
                    <input type="text" name="message" ng-model="pointsMessage" placeholder="The reason for giving points">
                </div>
                <div class="small-3 columns">
                    <button ng-click="addEvent()" ng-disabled="addEventForm.$invalid" class="button success">CHALICE!</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="small-8 columns small-offset-2"><h2>Leaderboard</h2></div>
</div>
<div class="leaderboard row">
    <div class="small-8 small-centered columns">
        <div class="section-container tabs">
            <div class="tab-box">
                <p class="tab-title" ng-class="{active: selected.week}" ng-click="select('week')">This Week</p>
                <p class="tab-title" ng-class="{active: selected.all}" ng-click="select('all')">All Time</p>
            </div>

            <div class="data-content active" ng-class="{active: selected.week}">
                <div class="row">
                    <div class="small-6 columns">
                        <h3>Received</h3>
                        <ul>
                            <li ng-repeat="receiver in leaderboard.week.received | orderBy:['-amount','name']">
                                <div class="dataLabel"><a href="#/user/{{receiver.name}}">{{receiver.name}}</a></div>
                                <div class="dataValue">{{receiver.amount}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="small-6 columns">
                        <h3>Given</h3>
                        <ul>
                            <li ng-repeat="giver in leaderboard.week.given | orderBy:['-amount','name']">
                                <div class="dataLabel"><a href="#/user/{{giver.name}}">{{giver.name}}</a></div>
                                <div class="dataValue">{{giver.amount}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="data-content" ng-class="{active: selected.all}">
                <div class="row">
                    <div class="small-6 columns">
                        <h3>Received</h3>
                        <ul>
                            <li ng-repeat="receiver in leaderboard.all.received | orderBy:['-amount','name']">
                                <div class="dataLabel"><a href="#/user/{{receiver.name}}">{{receiver.name}}</a></div>
                                <div class="dataValue">{{receiver.amount}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="small-6 columns">
                        <h3>Given</h3>
                        <ul>
                            <li ng-repeat="giver in leaderboard.all.given | orderBy:['-amount','name']">
                                <div class="dataLabel"><a href="#/user/{{giver.name}}">{{giver.name}}</a></div>
                                <div class="dataValue">{{giver.amount}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
