<div class="row" ng-cloak ng-show="loading.targets">
  <div class="small-8 small-centered text-center columns">
    <i class="fa fa-spinner fa-5x fa-spin"></i>
  </div>
</div>
</div>
<div class="row" ng-cloak ng-show="!loading.targets">
  <div class="add-points small-8 small-centered columns">
    <form name="addEventForm">
      <div class="row">
        <div class="small-12 columns">
          <div class="alert-box {{message.level}}" style="display: none;">{{message.text}}</div>
        </div>
      </div>
      <div class="row">
        <div class="small-9 columns">
          <select name="target" ng-model="pointsTarget" ng-options="u.id as u.name for u in users | orderBy:'name'" required>
            <option value="">-- To --</option>
          </select>
        </div>
        <div class="small-3 columns">
          <input type="number" name="amount" value="1" ng-model="pointsAmount" min="1" max="{{current_user.max_points}}" required>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <select name="type" ng-model="pointsType" required>
            <option value="">-- Type --</option>
            <optgroup label="{{ group }}" ng-repeat="group in groupOrder">
              <option value="{{ type }}" ng-repeat="type in typeGroups[group]">{{ types[type] }}</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="small-9 columns">
          <input type="text" name="message" ng-model="pointsMessage" placeholder="The reason for giving points">
        </div>
        <div class="small-3 columns">
          <button ng-click="addEvent()" ng-disabled="addEventForm.$invalid" class="button small success">CHALICE!</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="small-8 small-centered columns"><h2>Leaderboard</h2></div>
</div>
<div class="leaderboard row">
  <div class="small-8 small-centered columns">
    <div class="tabs">
      <div class="tab-box">
        <p class="tab-title" ng-class="{active: selected.week}" ng-click="select('week')">This Week</p>
        <p class="tab-title" ng-class="{active: selected.month}" ng-click="select('month')">This Month</p>
        <p class="tab-title" ng-class="{active: selected.all}" ng-click="select('all')">All Time</p>
      </div>

      <div class="data-content active" ng-class="{active: selected.week}">
        <div class="row" ng-cloak ng-show="loading.leaderboard.week">
          <div class="small-12 text-center columns">
            <i class="fa fa-spinner fa-4x fa-spin"></i>
          </div>
        </div>
        <div class="row" ng-cloak ng-show="!loading.leaderboard.week">
          <div class="small-6 columns">
            <h3>Received</h3>
            <ul>
              <li ng-repeat="entry in leaderboard.week.received | orderBy:['-amount','user.name']">
                <div class="dataLabel"><a href="/user/{{entry.user.id}}">{{entry.user.name}}</a></div>
                <div class="dataValue">{{entry.amount}}</div>
              </li>
            </ul>
          </div>
          <div class="small-6 columns">
            <h3>Given</h3>
            <ul>
              <li ng-repeat="entry in leaderboard.week.given | orderBy:['-amount','user.name']">
                <div class="dataLabel"><a href="/user/{{entry.user.id}}">{{entry.user.name}}</a></div>
                <div class="dataValue">{{entry.amount}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="data-content" ng-class="{active: selected.month}">
        <div class="row" ng-cloak ng-show="loading.leaderboard.month">
          <div class="small-12 text-center columns">
            <i class="fa fa-spinner fa-4x fa-spin"></i>
          </div>
        </div>
        <div class="row" ng-cloak ng-show="!loading.leaderboard.month">
          <div class="small-6 columns">
            <h3>Received</h3>
            <ul>
              <li ng-repeat="entry in leaderboard.month.received | orderBy:['-amount','user.name']">
                <div class="dataLabel"><a href="/user/{{entry.user.id}}">{{entry.user.name}}</a></div>
                <div class="dataValue">{{entry.amount}}</div>
              </li>
            </ul>
          </div>
          <div class="small-6 columns">
            <h3>Given</h3>
            <ul>
              <li ng-repeat="entry in leaderboard.month.given | orderBy:['-amount','user.name']">
                <div class="dataLabel"><a href="/user/{{entry.user.id}}">{{entry.user.name}}</a></div>
                <div class="dataValue">{{entry.amount}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="data-content" ng-class="{active: selected.all}">
        <div class="row" ng-cloak ng-show="loading.leaderboard.all">
          <div class="small-12 text-center columns">
            <i class="fa fa-spinner fa-4x fa-spin"></i>
          </div>
        </div>
        <div class="row" ng-cloak ng-show="!loading.leaderboard.all">
          <div class="small-6 columns">
            <h3>Received</h3>
            <ul>
              <li ng-repeat="entry in leaderboard.all.received | orderBy:['-amount','user.name']">
                <div class="dataLabel"><a href="/user/{{entry.user.id}}">{{entry.user.name}}</a></div>
                <div class="dataValue">{{entry.amount}}</div>
              </li>
            </ul>
          </div>
          <div class="small-6 columns">
            <h3>Given</h3>
            <ul>
              <li ng-repeat="entry in leaderboard.all.given | orderBy:['-amount','user.name']">
                <div class="dataLabel"><a href="/user/{{entry.user.id}}">{{entry.user.name}}</a></div>
                <div class="dataValue">{{entry.amount}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
