<div class="row">
    <div class="small-8 small-centered columns"><h2 class="pagetitle centered">Timeline</h2></div>
</div>
<div class="events row">
    <div class="event small-10 small-centered columns" ng-repeat="event in timeline | orderBy:'-created_at'">
        <span class="user"><a href="#/user/{{event.source_user.id}}">{{event.source_user.name}}</a></span>
        <span class="type give">
            <span>Gave</span>
        </span>
        <span class="amount">{{event.amount}}</span>
        <span ng-switch on="event.amount">
            <span ng-switch-when="1">Point</span>
            <span ng-switch-default>Points</span>
        </span>
        <span>
            <span>to</span>
        </span>
        <span class="user"><a href="#/user/{{event.target_user.id}}">{{event.target_user.name}}</a></span> at
        <span class="date">{{event.created_at | dateMoment:'M/d/yyyy h:mma'}}</span>
        <div class="message">{{event.message}}</div>
    </div>
</div>
