<div class="row">
    <div class="small-8 columns small-offset-2"><h2 class="pagetitle centered">Weekly Winners</h2></div>
</div>
<div class="winners row">
    <div class="winner small-6 small-centered columns" ng-repeat="week in winners | orderBy:'-date'">
        <div class="date">Week Starting {{week.date | dateMoment:'M/d/yyyy'}}</div>
        <div class="winners">
            <div>
                <span class="name">{{week.received | nameJoin:', '}}</span>
                <span ng-switch on="week.current">
                    <span ng-switch-when="1">
                        <span ng-switch on "week.received.length > 1">
                            <span ng-switch-when="1">are</span>
                            <span ng-switch-default>is</span>
                        </span>
                        Winning with
                    </span>
                    <span ng-switch-default>Won with</span> 
                </span>
                <span class="amount">{{week.received | amountMax}}</span>
                <span ng-switch on="week.received.amount">
                    <span ng-switch-when="1">Point</span>
                    <span ng-switch-default>Points</span>
                </span>
                <span class="type receive">Received</span>
            </div>

            <div>
                <span class="name">{{week.given | nameJoin:', '}}</span>
                <span ng-switch on="week.current">
                    <span ng-switch-when="1">
                        <span ng-switch on "week.given.length > 1">
                            <span ng-switch-when="1">are</span>
                            <span ng-switch-default>is</span>
                        </span>
                        Winning with
                    </span>
                    <span ng-switch-default>Won with</span> 
                </span>
                <span class="amount">{{week.given | amountMax}}</span>
                <span ng-switch on="week.given.amount">
                    <span ng-switch-when="1">Point</span>
                    <span ng-switch-default>Points</span>
                </span>
                <span class="type give">Given</span>
            </div>
        </div>
    </div>
</div>
