/* _chart.scss */

#circle {
    circle {
        fill: none;
        pointer-events: all;
    }

    &:hover path.fade {
        display: none;
    }
}

.group path {
    fill-opacity: 0.5;
}

path.chord {
    stroke: #000;
    stroke-width: 0.25px;
}

.chord svg {
    margin: 0 auto 50px auto;
    display: block;
}
