/* chalice.scss */
/* _chart.scss */
/* line 4, ../sass/_chart.scss */
#circle circle {
  fill: none;
  pointer-events: all;
}
/* line 9, ../sass/_chart.scss */
#circle:hover path.fade {
  display: none;
}

/* line 14, ../sass/_chart.scss */
.group path {
  fill-opacity: 0.5;
}

/* line 18, ../sass/_chart.scss */
path.chord {
  stroke: #000;
  stroke-width: 0.25px;
}

/* line 23, ../sass/_chart.scss */
.chord svg {
  margin: 0 auto 50px auto;
  display: block;
}

/* line 17, ../sass/chalice.scss */
.received {
  color: #e33605;
}

/* line 21, ../sass/chalice.scss */
.given {
  color: #5da423;
}

/* line 25, ../sass/chalice.scss */
.name {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5px;
}

/* line 34, ../sass/chalice.scss */
.dataLabel {
  width: 200px;
  display: inline-block;
}

/* line 39, ../sass/chalice.scss */
.dataValue {
  display: inline-block;
  text-align: right;
  float: right;
}

/* line 46, ../sass/chalice.scss */
.leaderboard ul li {
  list-style: none;
  border-bottom: 1px solid #888;
}
/* line 51, ../sass/chalice.scss */
.leaderboard div:first-child li:first-child {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  font-weight: bold;
}
/* line 61, ../sass/chalice.scss */
.leaderboard h3 {
  font-weight: 300;
}

/* line 66, ../sass/chalice.scss */
.content {
  margin-top: 30px;
}

/* line 71, ../sass/chalice.scss */
.profile .meta {
  text-align: center;
}
/* line 75, ../sass/chalice.scss */
.profile .picture {
  width: 50px;
  height: 50px;
  border: 1px solid #888;
  vertical-align: text-bottom;
}
/* line 82, ../sass/chalice.scss */
.profile .name {
  font-size: 3em;
  font-weight: 300;
  line-height: 50px;
  display: inline-block;
}
/* line 91, ../sass/chalice.scss */
.profile .total {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 50px;
  vertical-align: text-bottom;
}

/* line 102, ../sass/chalice.scss */
.events {
  margin-top: 20px;
}
/* line 105, ../sass/chalice.scss */
.events .event {
  padding: 10px;
  margin: 20px inherit;
  text-align: center;
  border: 1px solid #888;
  -webkit-box-shadow: 5px 5px 10px #333333;
  -moz-box-shadow: 5px 5px 10px #333333;
  box-shadow: 5px 5px 10px #333333;
}
/* line 114, ../sass/chalice.scss */
.events .event .amount {
  font-weight: 600;
}
/* line 118, ../sass/chalice.scss */
.events .event .message {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
  padding-top: 10px;
  line-height: 1.3;
}

/* line 131, ../sass/chalice.scss */
.add-points button {
  margin-right: 0;
  margin-left: auto;
  display: block;
}
/* line 137, ../sass/chalice.scss */
.add-points input[name="message"] {
  height: 3em;
}

/* line 142, ../sass/chalice.scss */
.styled-select {
  height: 42px;
  overflow: hidden;
  background-image: url("../images/selector.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  border: 1px solid #ccc;
  margin: 0 0 1em 0;
  padding-left: 0.5em;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 162, ../sass/chalice.scss */
.styled-select select {
  background: transparent;
  font-size: 0.875em;
  line-height: 1;
  border: 0;
  height: 3em;
  -webkit-border-radius: 0 0;
  -moz-border-radius: 0 / 0;
  border-radius: 0 / 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
