/* chalice.scss */
/* _chart.scss */
/* line 4, ../sass/_chart.scss */
#circle circle {
  fill: none;
  pointer-events: all;
}
/* line 9, ../sass/_chart.scss */
#circle:hover path.fade {
  display: none;
}

/* line 14, ../sass/_chart.scss */
.group path {
  fill-opacity: 0.5;
}

/* line 18, ../sass/_chart.scss */
path.chord {
  stroke: #000;
  stroke-width: 0.25px;
}

/* line 23, ../sass/_chart.scss */
.chord svg {
  margin: 0 auto 50px auto;
  display: block;
}

/* line 14, ../sass/chalice.scss */
.received {
  color: #e33605;
}

/* line 18, ../sass/chalice.scss */
.given {
  color: #5da423;
}

/* line 22, ../sass/chalice.scss */
.name {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5px;
}

/* line 31, ../sass/chalice.scss */
.dataLabel {
  width: 200px;
  display: inline-block;
}

/* line 36, ../sass/chalice.scss */
.dataValue {
  display: inline-block;
  text-align: right;
  float: right;
}

/* line 43, ../sass/chalice.scss */
.leaderboard ul li {
  list-style: none;
  border-bottom: 1px solid #888;
}
/* line 48, ../sass/chalice.scss */
.leaderboard div:first-child li:first-child {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  font-weight: bold;
}
/* line 58, ../sass/chalice.scss */
.leaderboard h3 {
  font-weight: 300;
}

/* line 63, ../sass/chalice.scss */
.content {
  margin-top: 30px;
}

/* line 68, ../sass/chalice.scss */
.profile .meta {
  text-align: center;
}
/* line 72, ../sass/chalice.scss */
.profile .picture {
  width: 50px;
  height: 50px;
  border: 1px solid #888;
  vertical-align: text-bottom;
}
/* line 79, ../sass/chalice.scss */
.profile .name {
  font-size: 3em;
  font-weight: 300;
  line-height: 50px;
  display: inline-block;
}
/* line 88, ../sass/chalice.scss */
.profile .total {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 50px;
  vertical-align: text-bottom;
}

/* line 99, ../sass/chalice.scss */
.events {
  margin-top: 20px;
}
/* line 102, ../sass/chalice.scss */
.events .event {
  padding: 10px;
  margin: 20px inherit;
  text-align: center;
  border: 1px solid #888;
  -webkit-box-shadow: 5px 5px 10px #333333;
  -moz-box-shadow: 5px 5px 10px #333333;
  box-shadow: 5px 5px 10px #333333;
}
/* line 111, ../sass/chalice.scss */
.events .event .amount {
  font-weight: 600;
}
/* line 115, ../sass/chalice.scss */
.events .event .message {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
  padding-top: 10px;
  line-height: 1.3;
}

/* line 128, ../sass/chalice.scss */
.add-points button {
  margin-right: 0;
  margin-left: auto;
  display: block;
}
/* line 134, ../sass/chalice.scss */
.add-points input[name="message"] {
  height: 3em;
}

/* line 139, ../sass/chalice.scss */
.styled-select {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0 0 1em 0;
  height: 3em;
  float: left;
}
/* line 146, ../sass/chalice.scss */
.styled-select .base {
  float: left;
}
/* line 149, ../sass/chalice.scss */
.styled-select .base .active {
  background-color: white;
  border: 1px solid #ccc;
  font-size: 0.875em;
  padding: 0.5em;
  background-image: url("../images/selector.png");
  background-repeat: no-repeat;
  background-position: 98% center;
}
/* line 161, ../sass/chalice.scss */
.styled-select .base .list {
  display: none;
}
/* line 164, ../sass/chalice.scss */
.styled-select .base .list ul {
  margin: 0 0 1em 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0 -5px 0 white, 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 -5px 0 white, 0 0 0 1px #dddddd;
  box-shadow: 0 -5px 0 white, 0 0 0 1px #dddddd;
}
