body {
    font-family: Helvetica, Arial, sans-serif;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: 0.5;
}

path.chord {
    stroke: #000;
    stroke-width: 0.25px;
}

#circle:hover path.fade {
    display: none;
}

.dataLabel {
    display: inline-block;
}

.dataValue {
    display: inline-block;
    text-align: right;
    float: right;
}

.leaderboard ul li {
    list-style: none;
    border-bottom: 1px solid #888;
}

.leaderboard div:first-child li:first-child {
    background-image: url('../images/chalice.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-weight: bold;
    padding-top: 3px;
}

.chord svg {
    margin: 0 auto 50px auto;
    display: block;
}

.content {
    margin-top: 30px;
}
