body {
    font-family: Helvetica, Arial, sans-serif;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: 0.5;
}

path.chord {
    stroke: #000;
    stroke-width: 0.25px;
}

#circle:hover path.fade {
    display: none;
}

.dataLabel {
    width: 200px;
    display: inline-block;
}

.dataValue {
    width: 95px;
    display: inline-block;
    text-align: right;
}

.leaderboard ul li {
    list-style: none;
    border-bottom: 1px solid #888;
}

.chord svg {
    margin: 0 auto 50px auto;
    display: block;
}

.content {
    margin-top: 30px;
}
