<div class="row">
  <div class="small-12 columns text-center">
    <h2>{{ user.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="max_points">Max Points</label>
  </div>
  <div class="small-2 columns">
    <input type="text" id="max_points" placeholder="5" ng-model="user.max_points" size="4" />
  </div>
  <div class="small-7 columns"></div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="disabled">Disabled</label>
  </div>
  <div class="small-9 columns">
    <input type="checkbox" id="disabled" ng-model="user.disabled" />
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label for="elder">Elder</label>
  </div>
  <div class="small-9 columns">
    <input type="checkbox" id="elder" ng-model="user.elder" />
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="button-group clearfix">
      <li class="right"><a href="" ng-click="cancel()" class="button small secondary">Cancel</a></li>
      <li class="right"><a href="" ng-click="ok()" class="button small">Save</a><li>
    </ul>
  </div>
</div>
