<div class="row">
  <div class="row">
    <div class="small-12 columns text-center">
      <h2>User Settings</h2>
    </div>
  </div>
  <div class="user-settings small-12 columns">
    <form name="userSettingsForm">
      <div class="row">
        <div class="small-12 columns">
          <fieldset>
            <legend>Email Settings</legend>
            <label for="email-daily"><input id="email-daily" type="checkbox" ng-model="user.settings.email.daily"> Daily Digest Emails</label>
            <label for="email-weekly"><input id="email-weekly" type="checkbox" ng-model="user.settings.email.weekly"> Weekly Digest Emails</label>
            <label for="email-monthly"><input id="email-monthly" type="checkbox" ng-model="user.settings.email.monthly"> Monthly Digest Emails</label>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="button-group clearfix">
      <li class="right"><a href="" ng-click="cancel()" class="button small secondary">Cancel</a></li>
      <li class="right"><a href="" ng-click="ok()" class="button small">Save</a><li>
    </ul>
  </div>
</div>
