<div class="row">
  <div class="small-8 small-centered columns"><h2 class="pagetitle text-center">Users</h2></div>
</div>
<div class="row">
  <div class="small-8 small-centered columns">
    <table class="small-12 columns">
      <thead>
        <tr>
          <th><a href="" ng-click="predicate='name'; reverse=!reverse;">Name</a></th>
          <th><a href="" ng-click="predicate='email'; reverse=!reverse;">Email</a></th>
          <th><a href="" ng-click="predicate='disabled'; reverse=!reverse;">Disabled</a></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | orderBy:[predicate, 'name']:reverse">
          <td><a href="/user/{{ user.id }}">{{ user.name }}</a></td>
          <td>{{ user.email }}</td>
          <td><i class="fa fa-check" ng-if="user.disabled"></i></td>
          <td class="text-right">
            <span class="edit"><a href="" data-tooltip title="Edit User" ng-click="editUser(user)"><i class="fa fa-pencil"></i></a></span>
            <span class="delete"><a href="" data-tooltip title="Delete User" ng-click="removeUser(user)"><i class="fa fa-trash-o"></i></a></span>
            <span class="merge"><a href="" data-tooltip title="Merge User" ng-click="mergeUser(user)"><i class="fa fa-exchange"></i></a></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
