/* chalice.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.receive {
  color: #E33605;
}

.give {
  color: #5DA423;
}

.edit a {
  color: #5DA423;
}
.edit a:hover {
  color: #457a1a;
}

.delete a {
  color: #E33605;
}
.delete a:hover {
  color: #b12a04;
}

.merge a {
  color: #2ba6cb;
}
.merge a:hover {
  color: #2284a1;
}

.top-bar .name {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5px;
}
.top-bar .top-bar-section li a:not(.button) {
  color: white;
}
.top-bar .top-bar-section li a:not(.button):hover {
  color: #2ba6cb;
}

.dataLabel {
  width: 200px;
  display: inline-block;
}

.dataValue {
  display: inline-block;
  text-align: right;
  float: right;
}

.leaderboard ul li {
  list-style: none;
  border-bottom: 1px solid #888;
}
.leaderboard div:first-child li:first-child {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  font-weight: bold;
}
.leaderboard h3 {
  font-weight: 300;
}

.content {
  margin-top: 10px;
}

.profile .meta {
  text-align: center;
}
.profile .meta .total {
  display: inline-block;
  font-weight: 600;
}
.profile .picture {
  width: 50px;
  height: 50px;
  border: 1px solid #888;
  vertical-align: text-bottom;
}
.profile .name {
  font-size: 3em;
  font-weight: 300;
  line-height: 50px;
  display: inline-block;
}

.events .event {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #888;
  -moz-box-shadow: 5px 5px 10px #333;
  -webkit-box-shadow: 5px 5px 10px #333;
  box-shadow: 5px 5px 10px #333;
}
.events .event .amount {
  font-weight: 600;
}
.events .event .event__header {
  white-space: nowrap;
}
.events .event .event__message {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
  word-wrap: break-word;
  padding-top: 10px;
  line-height: 1.3;
}

.add-points select {
  border: 1px solid #cccccc;
}
.add-points button {
  width: 100%;
  padding-top: 0.9em;
}
.add-points input[name="message"] {
  height: 3em;
}

.pagetitle.centered {
  text-align: center;
}

.tabs .tab-box {
  height: 57px;
}
.tabs .tab-box .tab-title {
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: #cccccc;
  z-index: 1;
  background-color: #efefef;
  margin: 0 -5px 0 0;
  padding: 0.9375em;
  display: inline-block;
  color: #2BA6CB;
  text-decoration: none;
  cursor: pointer;
}
.tabs .tab-box .tab-title:last-child {
  border-right: 1px solid #cccccc;
}
.tabs .tab-box .tab-title.active {
  border-bottom: 1px solid white;
  background-color: white;
}
.tabs .data-content {
  border: 1px solid #cccccc;
  z-index: 10;
  padding: 0.9375em;
  background-color: white;
  display: none;
  margin-top: -1px;
}
.tabs .data-content.active {
  display: block;
}

.history fieldset {
  margin-top: 0;
}
.history table.history {
  width: 100%;
}
.history table.history th {
  white-space: nowrap;
}
.history table.history.all .name {
  width: 20%;
}
.history table.history.all .type {
  width: 31%;
}
.history table.history.all .amount {
  width: 12%;
}
.history table.history.all .time {
  width: 17%;
}
.history table.history.source .name, .history table.history.target .name, .history table.history.type .name {
  width: 80%;
}
.history table.history.source .amount, .history table.history.target .amount, .history table.history.type .amount {
  width: 20%;
}

.pagination {
  margin-bottom: 0.5em;
}

.tabs .tab-box .tab-title {
  min-width: 100px;
  text-align: center;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}
