/* chalice.scss */
/* _chart.scss */
#circle circle {
  fill: none;
  pointer-events: all;
}
#circle:hover path.fade {
  display: none;
}

.group path {
  fill-opacity: 0.5;
}

path.chord {
  stroke: #000;
  stroke-width: 0.25px;
}

.chord svg {
  margin: 0 auto 50px auto;
  display: block;
}

.receive {
  color: #e33605;
}

.give {
  color: #5da423;
}

.delete a {
  color: #e33605;
}

.top-bar .name {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 5px;
}

.dataLabel {
  width: 200px;
  display: inline-block;
}

.dataValue {
  display: inline-block;
  text-align: right;
  float: right;
}

.leaderboard ul li {
  list-style: none;
  border-bottom: 1px solid #888;
}
.leaderboard div:first-child li:first-child {
  background-image: url("../images/chalice.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  font-weight: bold;
}
.leaderboard h3 {
  font-weight: 300;
}

.content {
  margin-top: 10px;
}

.profile .meta {
  text-align: center;
}
.profile .meta .total {
  display: inline-block;
  font-weight: 600;
}
.profile .picture {
  width: 50px;
  height: 50px;
  border: 1px solid #888;
  vertical-align: text-bottom;
}
.profile .name {
  font-size: 3em;
  font-weight: 300;
  line-height: 50px;
  display: inline-block;
}
.profile .winner {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 50px;
  vertical-align: text-bottom;
}

.events .event {
  padding: 10px;
  margin: 20px inherit;
  text-align: center;
  border: 1px solid #888;
  -webkit-box-shadow: 5px 5px 10px #333333;
  -moz-box-shadow: 5px 5px 10px #333333;
  box-shadow: 5px 5px 10px #333333;
}
.events .event .amount {
  font-weight: 600;
}
.events .event .message {
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
  padding-top: 10px;
  line-height: 1.3;
}

.add-points select {
  height: 2em;
  border: 1px solid #cccccc;
}
.add-points button {
  width: 100%;
}
.add-points input[name="message"] {
  height: 3em;
}

.styled-select {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 0 1em 0;
  height: 42px;
  float: left;
  width: 100%;
}
.styled-select .base {
  width: 100%;
  float: left;
}
.styled-select .base .active {
  background-color: white;
  border: 1px solid #ccc;
  font-size: 0.875em;
  padding: 0.5em;
  background-image: url("../images/selector.png");
  background-repeat: no-repeat;
  background-position: 98% center;
}
.styled-select .base .list {
  display: none;
}
.styled-select .base .list ul {
  margin: 0 0 1em 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0 -5px 0 white, 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 -5px 0 white, 0 0 0 1px #dddddd;
  box-shadow: 0 -5px 0 white, 0 0 0 1px #dddddd;
}

.winners .winner {
  padding: 10px;
  margin: 20px inherit;
  text-align: center;
  border: 1px solid #888;
  line-height: 1.3;
  -webkit-box-shadow: 5px 5px 10px #333333;
  -moz-box-shadow: 5px 5px 10px #333333;
  box-shadow: 5px 5px 10px #333333;
}
.winners .winner .date {
  font-style: italic;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.winners .winner .name {
  font-weight: 600;
}
.winners .winner .amount {
  font-weight: 600;
}

.pagetitle.centered {
  text-align: center;
}

.tabs .tab-box .tab-title {
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-color: #cccccc;
  z-index: 1;
  background-color: #efefef;
  margin: 0 -5px 0 0;
  padding: 0.9375em;
  display: inline-block;
  color: #2BA6CB;
  text-decoration: none;
  cursor: pointer;
}
.tabs .tab-box .tab-title:last-child {
  border-right: 1px solid #cccccc;
}
.tabs .tab-box .tab-title.active {
  border-bottom: 1px solid white;
  background-color: white;
}
.tabs .data-content {
  border: 1px solid #cccccc;
  z-index: 10;
  padding: 0.9375em;
  background-color: white;
  display: none;
  margin-top: -1px;
}
.tabs .data-content.active {
  display: block;
}
