<div class="row">
    <div class="small-12 columns">
        <form name="addPointsForm">
            <div class="control-group row" ng-class="{error: addPointsForm.source.$invalid}">
                <div class="small-4 small-offset-2 columns">
                    <div>
                        <select name="source" ng-model="pointsSource" ng-options="u.name for u in users" required>
                            <option value="">-- From --</option>
                        </select>
                    </div>
                    <div>
                        <select name="target" ng-model="pointsTarget" ng-options="u.name for u in users" required>
                            <option value="">-- To --</option>
                        </select>
                    </div>
                </div>
                <div class="small-2 columns">
                    <input type="number" name="amount" value="1" ng-model="pointsAmount" min="1" max="5" required>
                </div>
                <div class="small-2 columns">
                    <button ng-click="addPoints()" ng-disabled="addPointsForm.$invalid" class="button success">CHALICE!</button>
                </div>
                <div class="small-2 columns"></div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="small-8 columns small-offset-2"><h2>Leaderboard</h2></div>
</div>
<div class="leaderboard row">
    <div class="small-4 columns small-offset-2">
        <h3>Received</h3>
        <ul>
            <li ng-repeat="receiver in receivers | orderBy:['-amount','name']">
                <div class="dataLabel"><a href="#/user/{{receiver.name}}">{{receiver.name}}</a></div>
                <div class="dataValue">{{receiver.amount}}</div>
            </li>
        </ul>
    </div>
    <div class="small-4 columns">
        <h3>Given</h3>
        <ul>
            <li ng-repeat="giver in givers | orderBy:['-amount','name']">
                <div class="dataLabel"><a href="#/user/{{giver.name}}">{{giver.name}}</a></div>
                <div class="dataValue">{{giver.amount}}</div>
            </li>
        </ul>
    </div>
    <div class="small-2 columns"></div>
</div>
